<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.seekon.smartclient.module.resourceRegistry">
      <resource
            class="com.seekon.system.rule.client.module.RuleResourceRegistry">
      </resource>
   </extension>

</plugin>
