<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seekon.system.basedata.service.mapper.BasedataReferMapper">
  
  <select id="getBDReferViewList" resultType="java.util.HashMap" parameterType="map">
  	select * from m_ele_refer_view where 1 = 1
  	<if test="elementId != null">
  		and ele_id = #{elementId}
  	</if>
  </select>
  
  <insert id="insertElementReferView" parameterType="java.util.HashMap" keyProperty="id">
  	insert into m_ele_refer_view(id, code, name, type, is_used, ele_id, content)
  		values(#{id}, #{code}, #{name}, #{type}, #{is_used}, #{ele_id}, #{content})
  </insert>
  <update id="updateElementReferView" parameterType="java.util.HashMap">
  	update m_ele_refer_view set code = #{code}, name = #{name},
  		type = #{type}, is_used = #{is_used}, ele_id = #{ele_id},
  		content = #{content}
  		where id = #{id}
  </update>
  <delete id="deleteElementReferView" parameterType="java.util.HashMap">
  	delete from m_ele_refer_view where id in
  	<foreach collection="ids" index="index" item="item" open="(" separator="," close=")"> 
        #{item} 
     </foreach> 
  </delete>
  
</mapper>
