<?xml version="1.0" encoding="UTF-8"?>

	<!--
		- Application context definition for JPetStore's business layer. -
		Contains bean references to the transaction manager and to the DAOs in
		- dataAccessContext-local/jta.xml (see web.xml's
		"contextConfigLocation").
	-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--
		工作流引擎专用数据源 <bean id="WFEngineDataSource"
		class="org.apache.commons.dbcp.BasicDataSource"> <property
		name="driverClassName" value="oracle.jdbc.OracleDriver" /> <property
		name="url" value="jdbc:oracle:thin:@10.11.18.11:1521:orcl" />
		<property name="username" value="xzcz1204" /> <property
		name="password" value="1" /> <property name="maxActive" value="3" />
		<property name="maxIdle" value="10" /> <property name="maxWait"
		value="300" /> </bean>
	-->
	
	<!-- 使用别名重用系统定义的数据源 -->
	<alias name="myDataSource" alias="WFEngineDataSource"/>

	<!-- sqlmap 配置 -->
	<bean id="WFsqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:SqlMapConfig-wf.xml" />
		<property name="dataSource" ref="WFEngineDataSource" />
	</bean>

	<!-- wfengine 元数据操作用dao -->
	<bean id="WFMetaDao"
		class="com.ufgov.workflow.engine.internal.dao.impl.WFMetaDaoImpl">
		<property name="sqlMapClient" ref="WFsqlMapClient" />
	</bean>
	<!-- wfengine 运行时操作用dao -->
	<bean id="WFRuntimeDao"
		class="com.ufgov.workflow.engine.internal.dao.impl.WFRuntimeDaoImpl">
		<property name="sqlMapClient" ref="WFsqlMapClient" />
	</bean>

	<!-- wfengine对象 -->
	<bean id="WFEngine" class="com.ufgov.workflow.engine.internal.BasicWFEngine"
		init-method="init" depends-on="wfConfiguration">
		<constructor-arg>
			<ref bean="executionService" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="monitorService" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="managementService" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="repositoryService" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="workflowEventBroker" />
		</constructor-arg>
	</bean>

	<bean id="defaultCommandService"
		class="com.ufgov.workflow.engine.internal.svc.DefaultCommandService" />
	<bean id="repositoryService"
		class="com.ufgov.workflow.engine.internal.svc.RepositoryServiceImpl">
		<property name="metaDao" ref="WFMetaDao" />
	</bean>
	<bean id="executionService"
		class="com.ufgov.workflow.engine.internal.svc.ExecutionServiceImpl">
		<property name="commandService" ref="defaultCommandService" />
	</bean>
	<bean id="managementService"
		class="com.ufgov.workflow.engine.internal.svc.ManagementServiceImpl">
		<property name="commandService" ref="defaultCommandService" />
	</bean>
	<bean id="monitorService"
		class="com.ufgov.workflow.engine.internal.svc.MonitorServiceImpl">
		<property name="runtimeDao" ref="WFRuntimeDao" />
	</bean>

	<!-- 系统选项配置 -->
	<bean id="wfConfiguration" class="com.ufgov.workflow.engine.Configuration">
		<constructor-arg index="0">
			<value>classpath:wfengine.properties
			</value>
		</constructor-arg>
	</bean>

	<!-- 任务调度 -->
	<bean id="schedulerLifecycleBean"
		class="com.ufgov.workflow.engine.internal.SchedulerLifecycleBean" />

	<!-- 事件处理 -->
	<bean id="workflowEventBroker"
		class="com.ufgov.workflow.engine.internal.event.BasicWorkflowEventBroker">
		<constructor-arg>
			<bean
				class="com.ufgov.workflow.engine.internal.event.ProcessInstanceListenerSupport"></bean>
		</constructor-arg>
		<constructor-arg>
			<bean
				class="com.ufgov.workflow.engine.internal.event.TaskEventListenerSupport"></bean>
		</constructor-arg>
	</bean>

	<!-- 事务配置 -->
	<bean id="currentTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="WFEngineDataSource"></property>
	</bean>
	<tx:advice id="wfEngineTxAdvice" transaction-manager="currentTransactionManager">
		<tx:attributes>
			<tx:method name="*" rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="workflowServiceRun"
			expression="execution(* com.ufgov.workflow.engine.*.*(..))" />
		<aop:advisor pointcut-ref="workflowServiceRun" advice-ref="wfEngineTxAdvice" />
	</aop:config>
</beans>
